:root {
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    --light-gradient: linear-gradient(
        180deg,
        #EBF2FC 0%,
        #EEF8F9 100%
    );
    --dark-gradient: linear-gradient(
        180deg,
        #040918 0%,
        #091540 100%
    );  

    --paragraph-size: 16px;
    --heading-size: 32px;

    --font-family: "Noto Sans", sans-serif;
} 

* {
    font-family: var(--font-type);
}

body {
    background: var(--light-gradient);
    color: var(--neutral-900);
    font-size: var(--paragraph-size);
    line-height: 1.5;
}

body.darkMode {
    background: var(--dark-gradient);
    color: #fff;
    --theme-icon: url('./assets/images/icon-moon.svg');
}

body.lightMode {
    background: var(--light-gradient);
    color: var(--neutral-900);
    --theme-icon: url('./assets/images/icon-sun.svg');
}

header {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--neutral-200);
    border-radius: 18px;
    margin: 50px;
    padding: 15px;
    background-color: #fff;
}

header span:nth-child(1) {
    display: flex;
    align-items: center;
    color: #ffff;
}

.themeToggle {
    display: flex;
    align-items: center;
    background-color: rgb(97, 97, 97);
    padding: 10px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: background 0.4s;
    justify-content: center;
}

.darkMode header{
    background-color: var(--neutral-800);
    color: #909090;
}

.lightMode .themeToggle{
    background: var(--light-gradient);
    color: var(--neutral-900);
}

.darkMode .themeToggle{
    background: var(--dark-gradient);
    color: #fff;
}

.themeToggle .themeIcon{
    transition: transform 0.4s, opacity 0.4s;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 8px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li {
    border: 1px solid var(--neutral-200);
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: var(--neutral-900);
}

nav ul li a:hover {
    color: var(--red-500);
}

nav ul li a.active {
    color: var(--red-500);
    background-color: var(--neutral-200);
    border: 1px solid var(--red-500);
}

#all {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px 55px;
    gap: 10px;
}

.extensions {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--neutral-200);
    border-radius: 18px;
    background-color: #fff;
    align-items: center;
    height: 100%;
}

.extensionCard {
    display: flex;
    gap: 15px;
    padding: 15px;
}

.extensionHeader {
    margin: 0;
    margin-bottom: 10px;
}

.extensionName {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.extensionDescription {
    font-size: var(--paragraph-size);
    margin: 4px 0 0;
    line-height: 1.4;
    opacity: 0.5;
}

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 15px;
    gap: 200px;
    align-items: center;
    margin-top: auto;
}

button {
    color: #000;
    border: 1px solid var(--neutral-300);
    background-color: transparent;
    border-radius: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--red-500);
    color: #fff;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    background-color: var(--neutral-200);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.toggle-switch.active {
    background-color: var(--red-500);
}

.toggle-switch .slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.4s;
}

.toggle-switch.active .slider {
    transform: translateX(20px);
}

footer {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: var(--neutral-600);
}   
