:root {
    --text-color-light: hsl(203, 41%, 72%);
    --text-color-neutral: hsl(200, 24%, 40%);
    --text-color-dark: hsl(202, 55%, 16%);

    --primary-color-1: hsl(61, 70%, 52%);
    --primary-color-2: hsl(4, 69%, 50%);

    --background-color-1: hsl(202, 86%, 94%);
    --background-color-2: hsl(203, 41%, 72%);
    --background-color-3: hsl(200, 26%, 54%);
    --background-color-4: hsl(200, 24%, 40%);
    --background-color-5: hsl(202, 55%, 16%);

    --neutral-color-1: hsl(202, 86%, 94%);
    --neutral-color-2: hsl(203, 41%, 72%);
    --neutral-color-3: hsl(200, 26%, 54%);
    --neutral-color-4: hsl(200, 24%, 40%);
    --neutral-color-5: hsl(202, 55%, 16%);
    
    --base-color-1: hsl(0, 0%, 100%);
    --base-color-2: hsl(0, 0%, 0%);

    --font-family-main: "Plus Jakarta Sans", sans-serif;
    --font-family-alt: "Noto Sans", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --font-size-xsmall: 14px;
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-xlarge: 32px;

    --border-radius-xsmall: 6px;
    --border-radius-small: 8px;
    --border-radius-medium: 12px;
    --border-radius-large: 18px;
    --border-radius-xlarge: 28px;
    --border-radius-xxlarge: 80px;

    --max-width-container: 1000px;
    --desktop-width: 1000px;
    --tablet-width: 800px;
    --mobile-width: 600px;
    --width: 100%;

    --max-height: 100vh;
    --height: 100%;

    --gap-small: 10px;
    --gap-xmedium: 15px;
    --gap-medium: 20px;
    --gap-large: 30px;

    --margin-xsmall: 5px;
    --margin-small: 10px;
    --margin-xmedium: 15px;
    --margin-medium: 20px;
    --margin-large: 30px;
    --margin-xlarge: 50px;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: var(--font-family-main);
}

body {
    background: var(--background-color-1);
    color: var(--text-color-light);
    font-size: var(--font-size-small);
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    display: flex;
    border-radius: 18px;
    background: var(--base-color-1);
    margin: 50px auto;
    gap: 0;
}

.container > section {
    flex: 1;
}

.mortgage-calculator {
    color: var(--background-color-5);
    padding: 40px 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1 {
    font-size: 20px;
    font-weight: 600;
}

header button {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--neutral-color-4);
    color: var(--neutral-color-4);
    font-weight: 500;
    cursor: pointer;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
    color: var(--neutral-color-4);
}

.input-icon {
    width: 100%;
    margin-top: 6px;
    display: flex;
    transition: border-color 0.3s;
    border: 1px solid var(--neutral-color-2);
    border-radius: var(--border-radius-small);
}

.input-icon input {
    width: var(--width);
    padding: 12px;
    border: none;
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-small);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currency,
.unit {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--neutral-color-1);
    color: var(--neutral-color-4);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
}

.currency {
    padding: 0 var(--margin-large);
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small); 
}

.unit {
    padding: 0 var(--margin-medium);
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0; 
}

.input-icon:hover {
    border : 1.5px solid #000;
    border-radius: var(--border-radius-small);
}

.input-icon input[type="number"]:focus{
    outline: none;
    border-color: var(--primary-color-1);
}

.input-icon:focus-within  .currency,
.input-icon:focus-within .unit {
    background: var(--primary-color-1); 
}

.input-icon.error {
    border-color: var(--primary-color-2);
}

.error-icon {
    background: var(--primary-color-2) !important;
    color: var(--base-color-1) !important;
}

.error-message {
    display: none;
    color: var(--primary-color-2);
    font-size: var(--font-size-xsmall);
    margin-top: var(--margin-xsmall);
    margin-bottom: var(--margin-xmedium);
}

.error-message.show {
    display: block;
}

.term-interest {
    display: flex;
    gap: var(--gap-medium);
    margin-top: var(--margin-medium);
}

.mortgage-type {
    border: none;
    padding: 0;
    margin: var(--margin-large) 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

legend {
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--margin-small);
}

/* Radio style */
.radio-option {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    padding: var(--margin-small);
    border: 1px solid var(--neutral-color-2);
    border-radius: var(--border-radius-small);
    cursor: pointer;
    transition: 0.2s ease;
}

.radio-option:hover {
    border: 1.5px solid var(--primary-color-1);
}

.radio-option input[type="radio"] {
    display: none;
}

/* custom radio circle */
.custom-radio {
    width: 20px;
    height: 20px;
    border: 2px solid var(--neutral-color-3);
    border-radius: 50%;
    position: relative;
}

/* Selected styling */
.radio-option:has(input[type="radio"]:checked) {
    background: hsla(61, 70%, 52%, 0.15);
    border-color: var(--primary-color-1);
}

.radio-option input[type="radio"]:checked + .custom-radio {
    border-color: var(--primary-color-1);
}

.radio-option input[type="radio"]:checked + .custom-radio::after {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--primary-color-1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculate-btn {
    width: fit-content;
    background-color: var(--primary-color-1);
    border: none;
    border-radius: var(--border-radius-xlarge);
    padding: 15px 40px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
    cursor: pointer;
    margin-top: var(--margin-large);
    display: flex;
    align-items: center;
    gap: var(--gap-xmedium);
}

.calculate-btn:hover {
    background: hsla(63, 80%, 52%, 0.5);
    
}

.results {
    background: var(--neutral-color-5);
    color: var(--base-color);
    border-radius: 0 var(--border-radius-large) var(--border-radius-large) var(--border-radius-xxlarge);
    padding: 40px 30px;
}

.empty-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--neutral-color-3);
    height: var(--height);
    text-align: center;
}

.empty-results h3{
    margin: var(--margin-small) auto;
    font-weight: var(--font-weight-semi-bold);
    color: var(--base-color);
}

.completed-message {
    color: var(--neutral-color-3);
    font-weight: var(--font-weight-semi-bold);
    margin-top: var(--margin-medium);
    font-size: 16px;
}

.result-box {
    background: var(--background-color-5);
    border-top: 4px solid var(--primary-color-1);
    padding: 24px;
    border-radius: var(--border-radius-small);
    margin-top: 40px;
}

.monthly-amount {
    color: var(--primary-color-1);
    font-size: 48px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 24px;
}

.divider {
    border: none;
    border-bottom: 1px solid var(--neutral-color-3);
    opacity: 0.3;
    margin: 24px 0;
}

.total-label, .result-label {
    color: var(--neutral-color-3);
    font-size: var(--font-size-xsmall);
    margin-bottom: 8px;
    font-weight: var(--font-weight-semi-bold);
}

.total-amount {
    color: var(--base-color-1);
    font-size: 22px;
    font-weight: var(--font-weight-bold);
}


.completed-results {
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%);
}