:root {
    --primary-color-1: hsl(61, 70%, 52%);
    --primary-color-2: hsl(4, 69%, 50%);
    --base-color: hsl(0, 0%, 100%);
    --neutral-color-1: hsl(202, 86%, 94%);
    --neutral-color-2: hsl(203, 41%, 72%);
    --neutral-color-3: hsl(200, 26%, 54%);
    --neutral-color-4: hsl(200, 24%, 40%);
    --neutral-color-5: hsl(202, 55%, 16%);
    --font-family: "Plus Jakarta Sans", sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: var(--font-family);
}

body {
    background-color: var(--neutral-color-1);
    color: var(--neutral-color-5);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    width: 75%;
    display: flex;
    border-radius: 18px;
    background: var(--base-color);
    margin: 50px auto;
    gap: 0;
}

.container > section {
    flex: 1;
}

.mortgage-calculator {
    color: var(--neutral-color-5);
    padding: 40px 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1 {
    font-size: 20px;
    font-weight: 600;
}

header button {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--neutral-color-5);
    color: var(--neutral-color-5);
    cursor: pointer;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.input-icon {
    position: relative;
    width: 100%;
    margin-top: 6px;
}

.input-icon input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--neutral-color-2);
    border-radius: 8px;
    font-size: 16px;
}

input.mortgage-amount {
    padding-left: 65px;
}

input.mortgage-term, input.interest-rate {
    padding-left: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currency,
.unit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--neutral-color-1);
    color: var(--neutral-color-4);
    font-weight: 600;
    font-size: 18px;
}

.currency {
    left: 0.3px;
    top: 1px;
    bottom: 0.3px;
    padding: 0 20px;
    border-radius: 8px 0 0 8px; 
}

.unit {
    right: 0.5px;
    top: 0.6px;
    bottom: 1px;
    padding: 0 15px;
    border-radius: 0 8px 8px 0; 
}

.input-icon input[type="number"]:focus {
    outline: none;
    border-color: var(--primary-color-1);
}

.input-icon:focus-within  .currency,
.input-icon:focus-within .unit {
    background: var(--primary-color-1); 
}

.term-interest {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.mortgage-type {
    border: none;
    padding: 0;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

legend {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Radio style */
.radio-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1px solid var(--neutral-color-2);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.radio-option:hover {
    border-color: var(--primary-color-1);
}

.radio-option input[type="radio"] {
    display: none;
}

/* custom radio circle */
.custom-radio {
    width: 20px;
    height: 20px;
    border: 2px solid var(--neutral-color-3);
    border-radius: 50%;
    position: relative;
}

/* Selected styling */
.radio-option:has(input[type="radio"]:checked) {
    background: hsla(61, 70%, 52%, 0.15);
    border-color: var(--primary-color-1);
}

.radio-option input[type="radio"]:checked + .custom-radio {
    border-color: var(--primary-color-1);
}

.radio-option input[type="radio"]:checked + .custom-radio::after {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--primary-color-1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculate-btn {
    width: fit-content;
    background-color: var(--primary-color-1);
    border: none;
    border-radius: 28px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.results {
    background: var(--neutral-color-5);
    color: var(--base-color);
    border-radius: 0 18px 18px 80px;
    padding: 40px 30px;
}

.empty-results {
    text-align: center;
    color: var(--neutral-color-3);
    margin: 50px 0;
}

.empty-results h3{
    margin: 10px auto;
    font-weight: 600;
    color: var(--base-color);
}

.completed-results {
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%);
}